<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/project_wyklad_1/tests/Unit" />
        <option value="$PROJECT_DIR$/project_wyklad_1/tests/Feature" />
        <option value="$PROJECT_DIR$/nst_k_51_lab/tests/Unit" />
        <option value="$PROJECT_DIR$/nst_k_51_lab/tests/Feature" />
      </list>
    </option>
  </component>
</project>